<hr>
<div class="fields">
	<p>
		<%= f.text_field :name, class: 'form-control', placeholder: 'Idioma' %>
		<%= f.label :Nivel_Escrito%>
		<%= f.select :written_level, ["Selecciona Nivel","Basico","Intermedio","Avanzado","Nativo"],{},{class: 'form-control input-sm'}  %>
		<%= f.label :Nivel_Hablado %>
		<%= f.select :spoken_level, ["Selecciona Nivel","Basico","Intermedio","Avanzado","Nativo"],{},{class: 'form-control input-sm'} %>
		<%= params[:spoken_level]%>
	</p>
	
</div>


<script >
	function add_fields(link, association, content){
		var new_id = new Date().getTime();
		var regexp = new RegExp("new_" + association, "g");
		$(link).parent().before(content.replace(regexp, new_id));
	}
</script>