<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @applicant.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @applicant.description %>
</p>

<%= link_to 'Edit', edit_applicant_path(@applicant) %> |
<%= link_to 'Back', applicants_path %>
