<!DOCTYPE html>
<html>
<head>
	<title><%=@controllerName%></title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>

<body>
	<div class="wrapper">
		<header>
			<%= render 'layouts/navbar'%>
		</header>

		<div class="row">
			<%= yield %>
		</div>
		<%= render 'layouts/footer'%>	
	</div>
</body>
</html>